body {
  background-image: url("https://cutewallpaper.org/27x/ewect4lrg/2449425676.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
}

h1 {
  font-size: 300%;
  text-align: center;
}
.tot {
  text-align: center;
  margin-top: 10%;
}
label {
  font-size: 1.2em;
}

.hom {
  float: right;
  text-align: right;
  margin-right: 5%;
}

.bac {
  float: left;
  text-align: left;
  margin-left: 5%;
}
input[type="text"],
input[type="number"] {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="button"]:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
